html * {
    padding: 0;
    margin: 0
}

.flex { 
    display: flex;
}

.flex-1 { 
    flex: 1 1 0%;
}

.text-center {
    text-align: center;
}

.p-8 {
    padding: 8px;
}
.pt-4 {
    padding-top: 4px;
}
.pb-4 {
    padding-bottom: 4px;
}
.pt-8 {
    padding-top: 8px;
}
.pb-8 {
    padding-bottom: 8px;
}
.pl-8 {
    padding-left: 8px;
}
.pr-8 {
    padding-right: 8px;
}
.p-16 {
    padding: 16px;
}
.p-24 {
    padding: 24px;
}
.pt-24 {
    padding-top: 24px;
}

.m-8 {
    margin: 8px;
}
.m-16 {
    margin: 16px;
}
.m-24 {
    margin: 24px;
}
.mt-8 {
    margin-top: 8px;
}
.mt-16 {
    margin-top: 16px;
}
.mb-16 {
    margin-bottom: 16px;
}
.mt-24 {
    margin-top: 24px;
}
.mb-24 {
    margin-bottom: 24px;
}
.ml-24 {
    margin-left: 24px;
}
.m-80 {
    margin: 80px;
}

.bold {
    font-weight: bold;
}

.ls-4 {
    letter-spacing: 4px;
}

.ls-2 {
    letter-spacing: 2px;
}

.relative {
    position: relative;
}